PUID=1000
PGID=1000
TZ=Europe/Moscow

MEDIA_POOL_DIR=/path/to/media_pool
QBITTORRENT_CONFIG_DIR=/path/to/qbittorrent-config
RADARR_CONFIG_DIR=/path/to/radarr-config
SONARR_CONFIG_DIR=/path/to/sonarr-config
LIDARR_CONFIG_DIR=/path/to/lidarr-config
JACKETT_CONFIG_DIR=/path/to/jackett-config
SYNCTHING_CONFIG_DIR=/path/to/syncthing-config
JELLYFIN_CONFIG_DIR=/path/to/jellyfin-config
JELLYFIN_MEDIA_DIR=/path/to/media
